/* /STYLE/ */

@font-face {
    font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: "Playwrite AU QLD";
  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800&display=swap');
  src: url("https://db.onlinewebfonts.com/t/19c19d61d19722238a6226823a880452.eot");
  src: url("https://db.onlinewebfonts.com/t/19c19d61d19722238a6226823a880452.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/19c19d61d19722238a6226823a880452.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/19c19d61d19722238a6226823a880452.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/19c19d61d19722238a6226823a880452.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/19c19d61d19722238a6226823a880452.svg#Playwrite AU QLD") format("svg");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.Main {
    width: 100vw;
    background: #000;
    height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
body {
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
    overflow-x: hidden;
    height: 10vh;
}
.AnimatedBar{
    display: none;
}
.Header {
    overflow: none;
    align-items: start;
    justify-content: space-evenly;
    position: absolute;
    width: 40%;
    top: -2px;
    left: 30%;
    height: 5vh;
    border-radius: 0px 0px 10px 10px;
}

.Header .NavLink a:hover {
    text-shadow: 0px 0px 2px rgb(140, 0, 255);

}

.Header .NavLink {
    width: 100%;
    height: 100%;

    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
}

.Header .NavLink a {
    font-size: 1vmax;
    text-align: center;
    color: #333;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 15%;

}

.Header h1 {
    margin-left: 12px;
    color: #333;
    font-family: monospace;
    margin: 10px 50px 10px 50px;

    text-align: start;
    align-items: center;
    font-size: 2vmax;
    width: 100%;
    border-radius: 1px;
}

.page1 {
    overflow-x: hidden;
    background: linear-gradient(to right, #F5E8D8 30%, #c0c0c0 70%);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.page1 .page1-content {
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-items: center;
    display: flex;
    position: relative;
    
}

.page1 .page1-content h1:nth-child(2) {
    margin-left: -15%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}

.page1 h1 {
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    font-family: "Playwrite AU QLD";
    position: absolute;
    left: 35%;
    font-size: 5vmax;
    text-align: center;
    width: 50%;
}

.page1 #h2 {
    top: 25%;
    left: 42%;
}
.page1 #i {
    top: 25%;
    left: 40.5%;
}

.page1 h2 {
    width: 5%;
    top: 25%;
    left: 33%;
    font-size: 5vmax;
    position: absolute;
    /* font-family: "Playwrite AU QLD"; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.page1 p {
    width: 100%;
    font-size: 1.6vmax;
    position: absolute;
    color: #000;
    position: absolute;
    top: 80%;
    left: 34%;
    font-family: "Playwrite AU QLD";
    opacity: 0;
}

.page1 .img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    left: 10%;
    object-fit: cover;
    z-index: -1;
    
}
.page1 .ListItems {
    width: 85%;
    height: 15%;
    position: absolute;
    top: 80%;
    left: 6%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    background: #fafafc1c;
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px 20px 40px rgba(255, 255, 255, 0.308);
    z-index: 100;
}

.page2 {
    width: 100%;
    background: #F5E8D8;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: 80vh;
    overflow: hidden;
    justify-content: center;
    align-content: center;

}

.page2 .logos {
    width: 100%;
    gap: 10px;
    justify-items: start;
    align-items: start;
    position: relative;
    height: 25%;
    top: 25%;

}

.page2 h1 {
    font-size: 3vmax;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.page2 p {
    width: 80%;
    font-size: 1vmax;
    position: absolute;
    left: 10%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #000;
    position: absolute;
    
    opacity: 2;
}

.page2 .logos .i1,
.i2,
.i3,
.i4,
.i5 {
    width: 10%;
    height: 95%;

}

.page2 .logos .i1:hover{
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 2s;
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }
    .page2 .logos .i2:hover{
            transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 2s;
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }
    .page2 .logos .i3:hover{
            transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 2s;
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }
    .page2 .logos .i4:hover{
            transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 2s;
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }
    .page2 .logos .i5:hover{
            transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 2s;
            transform: rotateX(-10deg);
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }

.page3 {
    width: 100%;
    position: relative;
    z-index: 100;
    height: 100vh;
    overflow: hidden;
    background: #6e0606;
    overflow-x: hidden;
}

.page3 .light {
    width: 100%;

}

.page3 .light h1 {
    text-align: center;
    font-size: 4vmax;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F5E8D8;
}

.page3 .cards {
    width: 100%;
    height: 80%;
    position: absolute;
    display: flex;
    z-index: 100;
    justify-items: center;
    align-items: center;
}

.page3 .cards .insideCards {
    width: 95%;
    height: 95%;
    display: flex;
    position: absolute;
    transition: .15s ease-out;
    left: 2.5%;
    gap: 50px;
    z-index: 100;
}

.page3 .cards .insideCards .card1 {
    width: 30%;
    opacity: 0;
    height: 90%;
    background: #F5E8D8;
    border-radius: 22px;
    justify-items: center;
    align-content: center;

}

.page3 .cards .card2 {
    width: 30%;
    height: 90%;
    opacity: 0;
    background: #F5E8D8;
    border-radius: 22px;
    justify-items: center;
    align-content: center;
}

.page3 .cards .card3 {
    width: 30%;
    opacity: 0;
    height: 90%;
    background: #F5E8D8;
    border-radius: 22px;
    justify-items: center;
    align-content: center;
}

.page3 .cards .insideCards .card1:hover {

    background: radial-gradient(circle at 0 0, hsl(39, 100%, 83%), transparent),
        radial-gradient(circle at 100% 0, #F5E8D8, transparent),
        radial-gradient(circle at 0 100%, #F5E8D8, transparent),
        radial-gradient(circle at 100% 100%, #F5E8D8, transparent);
    box-shadow: 0 15px 55px hsl(39, 100%, 83%), inset 0 0 10px hsl(0, 0%, 0%);

}


.page3 .cards .insideCards .card2:hover {

    background: radial-gradient(circle at 0 0, hsl(39, 100%, 83%), transparent),
        radial-gradient(circle at 100% 0, #F5E8D8, transparent),
        radial-gradient(circle at 0 100%, #F5E8D8, transparent),
        radial-gradient(circle at 100% 100%, #F5E8D8, transparent);
    box-shadow: 0 15px 55px hsl(39, 100%, 83%), inset 0 0 10px hsl(0, 0%, 0%);

}

.page3 .cards .insideCards .card3:hover {
    background: radial-gradient(circle at 0 0, hsl(39, 100%, 83%), transparent),
        radial-gradient(circle at 100% 0, #F5E8D8, transparent),
        radial-gradient(circle at 0 100%, #F5E8D8, transparent),
        radial-gradient(circle at 100% 100%, #F5E8D8, transparent);
    box-shadow: 0 15px 55px hsl(39, 100%, 83%), inset 0 0 10px hsl(0, 0%, 0%);

}

.page4 {
    position: relative;
    top: 0;
    justify-items: center;
    align-content: center;
    z-index: 100;
    width: 100%;
    left: -2px;
    border-radius: 2rem 3rem 0 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background:#BAA78F; */
    background: #F5E8D8;

}

.page4 h1 {
    flex: 10%;
    width: 100%;
    text-align: center;
    font-size: 4vmax;
    border-radius: 2rem 2rem 0 0;
    background: #BAA785;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 15px solid #F5E8D8;
    color: #F5E8D8;
}
.page4 .projects {
    color: #F5E8D8;
    font-size: 1vmax;
    width: 100%;
    
    top: 10%;
    background: linear-gradient(to top, #F5E8D8 10%, #BAA785 80%);
    height: 100vh;
}
.page4 .projects .prjOne{
 width: 100%;
 height: 90%; 
 position: relative;
 align-items: center;
 align-content: start;
}
.page4 .projects .prjOne .content{
    width: 90%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 6%;
    align-content: center;
    
}
.page4 .projects .prjOne .content h1{
    width: 100%;
    opacity: 1;
    color: #333;
    border-radius: 0;
    font-size: 1.5vmax;
    outline: none;
    background: transparent;
    margin-top: 3%;
    position: absolute;
    
}
.page4 .projects .prjOne .content a{
    position: absolute;
    left: 51%;
    top: 42%;
    font-size: 0.8vmax;
    text-decoration: none;
    color: #6e0606;
}
.page4 .projects .prjOne .content h5{
    position: absolute;
    left: 44%;
    top: 42%;
}
.page4 .projects .prjOne .content p{
    color: #A67f59;
    width: 50%;
    position: absolute;
    left: 43%;
    bottom: 30%;
}
.page4 .projects .prjOne .contentImg{
    width: 35%;
    z-index: 1000;
    height: 40%;
    position: relative;
    top: 2%;
    right: 1%;
    
}
.page4 .projects .prjOne .contentImg img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: grayscale(1);
}
.page4 .projects .prjOne .contentImg img:hover{
    filter: grayscale(0);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) all 2s;
    scale: 1.2;
}
.page4 .projects .prjOne .circle {
    width: 30px;
    opacity: 1;
    margin-top: 7.5%;
    border-radius: 22px;
    height: 30px;
    position: absolute;
    top: 22%;
    margin-left: 36.9%;
    background: #000;
    outline: 8px solid #F5E8D8;
    left: 5%;
    background: linear-gradient(to top, #F5E8D8 10%, #A67f59 80%);
    z-index: 100;
}
.page4 .projects .prjOne .line{
    width: 70%;
    position: absolute;
    top: 4%;
    opacity: 1;
    left: 0;
    background: linear-gradient(to top, #F5E8D8 10%, #A67f59 80%);
    height: 10px;
    
}
.page4 .projects .prjOne .line2{
    width: 7px;
    opacity: 0;
    position: absolute;
    top: 45%;
    opacity: 1;
    left: 42.5%;
    background: linear-gradient(to top, #F5E8D8 10%, #A67f59 80%);
    height: 52vh;
    
}
.page4 .projects .prjTwo{
 width: 100%;
 height: 50%; 
 background:#F5E8D8;
 position: relative;
 align-items: center;
 align-content: start;
}
.page4 .projects .prjTwo .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 4%;
    justify-items: center;
    align-content: center;
    
}
.page4 .projects .prjTwo .content h1{
    width: 100%;
    text-align: center;
    opacity: 1;
    color: #333;
    border-radius: 0;
    font-size: 1.5vmax;
    outline: none;
    background: transparent;
    right: 40%;
    position: absolute;
    top: 20%;

}
.page4 .projects .prjTwo .content a{
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 0.8vmax;
    text-decoration: none;
    color: #6e0606;
}
.page4 .projects .prjTwo .content h5{
    position: absolute;
    left: 4%;
    top: 30%;
    color: #333;
    z-index: 100;
}
.page4 .projects .prjTwo .content p{
    color: #A67f59;
    width: 50%;
    position: absolute;
    left: 4%;
    bottom: 25%;
}
.page4 .projects .prjTwo .contentImg{
    width: 30%;
    height: 60%;
    position: relative;
    background: none;
    left: 30%;
}
.page4 .projects .prjTwo .contentImg img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: grayscale(1);
}
.page4 .projects .prjTwo .contentImg img:hover{
    filter: grayscale(0);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) all 2s;
    scale: 1.2;
}
.page4 .projects .prjTwo .circle{
    width: 25px;
    opacity: 1;
    margin-top: 7.5%;
    border-radius: 22px;
    height: 25px;
    position: absolute;
    top: -10%;
    margin-left: 37%;
    background: #000;
    outline: 8px solid #A67f59;
    left: -33%;
    background: linear-gradient(to top, #F5E8D8 10%, #A67f59 80%);
    z-index: 100;
}
.page4 .projects .prjTwo .line2{
    width: 7px;
    opacity: 0;
    position: absolute;
    top: 28%;
    opacity: 1;
    left: 4.5%;
    background: linear-gradient(to top, #F5E8D8 10%, #A67f59 80%);
    height: 32vh;
    
}


.footer h2{
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #000;
    position: absolute;
    z-index: 100;
}
.footer{
    width: 100%;
    height: 90vh;
    border-radius: 45px 45px 0px 0px;
    position: absolute;
    z-index: 100;
    top: 440.5%;
    background: #6e0606;
    
}
.footer .footerContent{
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
    align-content: start;
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.footer .input{
    background: #000;
}
.footer .FooterInputs{
       width: 25%;
       margin-left: -70%;
       margin-top: -10%;
       align-content: center;
       height: 40%;
       
}
.footer h5{
    display: none;
}
.footer h2{
    position: absolute;
    top: 1px;
    left: 5%;
    font-size: 2vmax;
}
.footer .footerIcons{
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
    background: #BAA785;
    position: relative;
    top: 77%;
}
.footer .footerIcons img:hover{
    scale: 1.2;
    
    transform: translateY(2%);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 2s;
}

/* 
RESPONSIVE  */
@media screen and (max-width:786px) {
    /* /STYLE/ */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
        width: 100vw;
        height: 100%;
    }
    .main{
        overflow: hidden;
        
    }
    .Header{
        display: none;
    }
    .AnimeBar{
        
        width: 100%;
        height: 5vh;
        background: #000;
        position: absolute;
        z-index: 100;
    }
    .AnimeBar .animeLines{
        width: 100%;
        height: 100%;
        background: #000;
    }
    .page1{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
        z-index: 0;
    }
    .page1  p{
        left: 5%;
        top: 220%;
        width: 100%;
        position: absolute;
        text-align: center;
    }
    .page1  h2{
        left: -5.7%;
        top: 170%;
        width: 100%;
        position: absolute;
        text-align: center;
    }
    .page1  #h2{
        left: 50%;
        top: 190%;
        width: 10%;
        position: absolute;
        text-align: center;
        
    }
    .page1  #i{
        left: -2%;
        top: 190%;
        width: 100%;
        position: absolute;
        text-align: center;
        
    }
    .page1  h1{
        left: 0%;
        top: 200%;
        width: 100%;
        position: absolute;
        text-align: center;
        
    }
    .page2{
        display: flex;
        width: 100vw;
        position: relative;
        height: 100vh;
    }
    .page2 .overView{
        
        width: 100vw;
        position: absolute;
        height: 100%;
    }
    .overView .insideView p{
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 1.5vmax;
        width: 95%;
        
        position: absolute;
        left: 10px;
    }
    .overView .insideView h1{
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 5vmax;
    }
    .overView .insideView{
        
        font-family: 'M PLUS Rounded 1c', sans-serif;       
        height: 50%;
        align-content: center;
    }
    .page2 .logos{
        position: relative;
        top: 30%;
        width: 100%;
        
        height: 40%;
        align-content: end;
    }
    .page2 .logos .i1, .i2, .i3, .i4, .i5{
        height: 75px;

        width: 75px;
    }
    .page2 .logos .i1:hover{
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }
    .page2 .logos .i2:hover{
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }
    .page2 .logos .i3:hover{
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }
    .page2 .logos .i4:hover{
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }
    .page2 .logos .i5:hover{
        transform: translateY(2%);
        filter:drop-shadow(0px 20px 10px #333) ;
    }
    .page3 {
    width: 100vw;
    position: absolute;
    z-index: 100;
    height: 100vh;
    overflow: hidden;
    background: #6e0606;
    overflow-x: hidden;
}

.page3 .light {
    width: 100%;
    

}

.page3 .light h1 {
    text-align: center;
    font-size: 4vmax;
    padding-top: 2%;
    font-family: 'M PLUS Rounded 1c', sans-serif;       
    color: #F5E8D8;
}

.page3 .cards {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 100;
    justify-items: center;
    align-items: center;
}

.page3 .cards .insideCards {
    width: 100%;
    height: 90%;
    
    display: flex;
    position: absolute;
    transition: .15s ease-out;
    left: 0%;
    top: -1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    z-index: 100;
}

.page3 .cards .insideCards .card1 {
    width: 90%;
    opacity: 0;
    height: 30%;
    background: #F5E8D8;
    border-radius: 22px;
    justify-items: center;
    align-content: center;
    margin-top: -15%;

}

.page3 .cards .card2 {
    width: 90%;
    height: 30%;
    opacity: 0;
    background: #F5E8D8;
    border-radius: 22px;
    justify-items: center;
    align-content: center;
}

.page3 .cards .card3 {
    width: 90%;
    opacity: 0;
    margin-top: -2%;
    height: 30%;
    background: #F5E8D8;
    border-radius: 22px;
    justify-items: center;
    align-content: center;
}

.page3 .cards .insideCards .card1:hover {

    background: radial-gradient(circle at 0 0, hsl(39, 100%, 83%), transparent),
        radial-gradient(circle at 100% 0, #F5E8D8, transparent),
        radial-gradient(circle at 0 100%, #F5E8D8, transparent),
        radial-gradient(circle at 100% 100%, #F5E8D8, transparent);
    box-shadow: 0 15px 55px hsl(39, 100%, 83%), inset 0 0 10px hsl(0, 0%, 0%);

}


.page3 .cards .insideCards .card2:hover {

    background: radial-gradient(circle at 0 0, hsl(39, 100%, 83%), transparent),
        radial-gradient(circle at 100% 0, #F5E8D8, transparent),
        radial-gradient(circle at 0 100%, #F5E8D8, transparent),
        radial-gradient(circle at 100% 100%, #F5E8D8, transparent);
    box-shadow: 0 15px 55px hsl(39, 100%, 83%), inset 0 0 10px hsl(0, 0%, 0%);

}

.page3 .cards .insideCards .card3:hover {
    background: radial-gradient(circle at 0 0, hsl(39, 100%, 83%), transparent),
        radial-gradient(circle at 100% 0, #F5E8D8, transparent),
        radial-gradient(circle at 0 100%, #F5E8D8, transparent),
        radial-gradient(circle at 100% 100%, #F5E8D8, transparent);
    box-shadow: 0 15px 55px hsl(39, 100%, 83%), inset 0 0 10px hsl(0, 0%, 0%);

}
.page4{
    display: none;
}
.footer{
    box-shadow: 0px -4px 10px #000;
    top: 470%;
    position: relative;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.footer h2{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer .footerIcons{
    top: 40%;
    position: absolute;
}
.Mobileprojects h1{
    font-family: "Playwrite AU QLD";
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-left: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.Mobileprojects a{
    text-align: center;
}
.Mobileprojects{
   width: 100%;
   height: 40vh;
   overflow-y: scroll;
   overflow-x: hidden;
    align-content: center;
    align-items: center;
    justify-items: center;
   justify-content: center;
   background: #A67f59;
   position: absolute;
   top: 300%;
}
.Mobileprojects .mobileProOne .StyleCircle .StyleCircleInside{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 13%;
    z-index: 100;
    box-shadow: 2px 2px 15px #000;
    top: 14%;
    border-radius: 360px;
    /* background: linear-gradient(to top, #F5E8D8 10%, #A67f59 80%); */
    background: #6e0606;
}

.Mobileprojects .mobileProOne .StyleCircle{
    width: 40px;
    /* box-shadow: 0px 10px 10px #000; */
    height: 40px;
    z-index: -1;
    position: absolute;
    left: 4%;
    top: 35%;
    border-radius: 360px;
    background: linear-gradient(to top, #F5E8D8 10%, #A67f59 80%);
    
}
.Mobileprojects .mobileProOne{
    width: 90%;
    height: 50%;
    top: 25%;
    left: 5%;
    z-index: 100;
    border-radius: 10px;
    align-content: center;
    justify-items: center;
    background: #6e0606;
    position: absolute;
    box-shadow: 0px 10px 10px #000;
}
.Mobileprojects .mobileProOne h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c0c0c0;
}
.Mobileprojects .mobileProTwo{
    width: 90%;
    height: 50%;
    top: 70%;
    left: 5%;
    z-index: 1;
    border-radius: 10px;
    align-content: center;
    justify-items: center;
    background: #333;
    position: absolute;
    box-shadow: 0px 10px 10px #000;
}
.Mobileprojects .mobileProTwo .PrjName{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c0c0c0;
}
.Mobileprojects .mobileProThree{
    width: 90%;
    height: 50%;
    top: 110%;
    z-index: 0;
    left: 5%;
    border-radius: 10px;
    align-content: center;
    justify-items: center;
    background: #333;
    position: absolute;
    box-shadow: 0px 15px 10px #000;
}
.Mobileprojects .mobileProThree h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c0c0c0;
}
}